/* body {
  background-color: rgb(106, 165, 192);
}

.app {
  background-color: rgb(20, 105, 141);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
.to-do-form input {
  padding: 10px;
  border: 0;
  background-color: rgb(194, 215, 224);
  height: 50px;
  width: 200px;
  padding: 0 20px;
} */
