
.con{
  min-height: 100vh;
  

}

 h1 {
    line-height: .95;
    color: #4B8CFB;

    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
#welcome{
    font-family: 'Great Vibes', cursive;
  
    font-size: 30px;

    color: #D33A2C;
  }
  .center {

    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 581px;
    height: 50%;
  }
  
  .btnhome {
    display: inline;
    margin:10 auto;
   justify-content: center;
    padding: 6px 0 0 3px;
    padding: 10px;
    border: 2px solid #4B8CFB;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    line-height: 54px;

    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    cursor: pointer;
  }
  
  .btnhome:hover {
    background: #4B8CFB;
    color: #10151B;
    
  }